<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Produto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script>
        function setup() {
            document.getElementById('buttonid').addEventListener('click', openDialog);
            function openDialog() {
                document.getElementById('fileid').click();
            }
            document.getElementById('fileid').addEventListener('change', submitForm);
            function submitForm() {
                document.getElementById('formid').submit();
            }
        }
    </script> 
</head>
<body onload="setup()">
<h1 style="text-align:center;">Cadastrar novo Produto</h1>
<form id='formid' action="form.php" method="POST" enctype="multipart/form-data"> 
    <div class="col-md-6">
        <input type="text" name="nome" id="nome" placeholder="Nome" class="form-control">
    </div>
    <div class="col-md-6">
        <input type="text" name="valor" id="valor" placeholder="Valor R$" class="form-control">
    </div>
    <br>
    <div class="row col-xs-12">       
        <input id='fileid' type='file' name='filename' hidden/>
        <input id='buttonid' type='button' value='Upload MB' /> 
        <input type='submit' value='Submit' /> 
    </div>
</form> 
</body>
</html>